<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Modal Title</h3>
</div>
<div class="modal-body" id="modal-body">
    <form ng-submit="submitOrganizations()">
        <table>
            <tr>
                <th colspan="2">Add/Edit organizations</th>
            </tr>

            <tr>
                <td>Full Name</td>
                <td><input type="text" ng-model="organizationsForm.fullName " /></td>
            </tr>

            <tr>
                <td>Short Name</td>
                <td><input type="text" ng-model="organizationsForm.shortName " /></td>
            </tr>

            <tr>
                <td>Supervisor</td>
                <td><input type="text" ng-model="organizationsForm.supervisor " /></td>
            </tr>

            <tr>
                <td>Contact Numbers</td>
                <td><input type="text" ng-model="organizationsForm.contactNumbers " /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"
                                       class="blue-button" /></td>
            </tr>
        </table>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>