<html>
<head ng-app="app" ng-controller="Job.IndexController">
  <title>Jobs</title>
  <head>
<body>

<h2 class="spielbox" >Jobs</h2>
<form ng-submit="submitJob()">
  <table>
    <tr>
      <th colspan="2">Add/Edit jobs</th>
    </tr>
    <tr>
      <td>Jobs Name</td>
      <td><input type="text" ng-model="jobForm.name" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"
                             class="blue-button" /></td>
    </tr>
  </table>
</form>


<table>
  <tr>
    <th>№</th>
    <th>Jobs Name</th>
    <th>Operations</th>
  </tr>
  <tr ng-repeat="job in jobs " ng-class="{active : isSelected(job)}">
    <td>{{ $index + 1 }}</td>
    <td><a ng-click="clickMe(job)"> {{job.name}}</a></td>
    <td><a ng-click="editJob(job)" class="blue-button">Edit</a>
      | <a ng-click="deleteJob(job)" class="red-button">Delete</a></td>
  </tr>
</table>
</body>
</html>